@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;

}
body{
    font-family: "Prompt", serif;
    font-weight: 200;
    font-style: normal;
}

#taskList{
    flex-direction: column;
    justify-content: center;
}

#taskInput{
    width:100%;
    appearance: none;
    border:none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Prompt", serif;
    font-weight: 200;
    font-style: normal;
    font-size: medium;
}
#taskInput:hover{
    background-color: whitesmoke;
}
.delete-btn{
text-align: center;
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    color: white;
    margin: 10px 0px;
    cursor: pointer;
}
.show-delete-btn{
    display: block;
}
.container-wrapper{
    padding: 0px 10px;
}
.item{
    border: 1px solid gainsboro;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #1e1e1e;
    border-radius: 10px;
    margin-bottom: 5px;
}
.item:hover{
    background-color: whitesmoke;
}

.checked{
    color:gainsboro;
}
header{
    padding: 10px;
    border-bottom: 1px solid rgb(237, 237, 237);
}
ul{
    display: flex;
    margin: 15px 0px;
    justify-content: center;
    list-style: none;
    gap: 10px;
    
}
ul li{
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}
.checkbox{
    appearance: none;
    border: none;
    border: 1px solid rgb(189, 189, 189);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
}
.changeColor{
    background-color: silver;
}




.tab-content.active{
    display: block;
}
.tab-content {
    display: none;
}

.tab.active{
    border: 1px solid silver;
}


