*{
    margin:0;
    padding:0;

}




#taskInput{
    width:100%;
    appearance: none;
    border:none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
}
#taskInput:hover{
    background-color: whitesmoke;
}
.container-wrapper{
    padding: 10px;
    margin-top: 10px;
}
.item{
    border: 1px solid gainsboro;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #1e1e1e;
    border-radius: 10px;
    margin-bottom: 5px;
}
.item:hover{
    background-color: whitesmoke;
}

.checked{
    color:gainsboro;
}

.checkbox{
    appearance: none;
    border: none;
    border: 1px solid gainsboro;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    padding: 5px;
}
.changeColor{
    background-color: silver;
}


